{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- FontAwesome Package -->
    <script defer src="{% static 'dist/js/fontawesome.js' %}"></script>
    <script defer src="{% static 'dist/js/packs/solid.js' %}"></script>
    <script defer src="{% static 'dist/js/packs/regular.js' %}"></script>
    <script defer src="{% static 'dist/js/packs/light.js' %}"></script>
    <!-- App-Specific CSS -->
    <link rel="stylesheet" href="../static/dist/css/app.css">
  </head>

    <body class="grey">
        <div class="container h-100 w-100">
          <div class="row bottom w-100">

            <div class="col-5 p-0 m-0">
            </div>

            <div class="col-1 p-0 m-0">

              <div class="row text-center limit p-0 m-0">
                <div class="col-4 p-0 m-0">
                  <a class="tlm btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-clock"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="rounded-0 btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-cloud"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="trm btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-star"></i></center></a>
                </div>
              </div>

              <div class="row text-center limit p-0 m-0">
                <div class="col-4 p-0 m-0">
                  <a class="rounded-0 btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-clock"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="rounded-0 btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-cloud"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="rounded-0 btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-star"></i></center></a>
                </div>
              </div>

              <div class="row text-center limit p-0 m-0">
                <div class="col-4 p-0 m-0">
                  <a class="blm btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-clock"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="rounded-0 btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-cloud"></i></center></a>
                </div>
                <div class="col-4 p-0 m-0">
                  <a class="brm btn black p-0 m-0" id="basic-addon1" href="#"><center><i class="fal fa-star"></i></center></a>
                </div>
              </div>

            </div>

            <div class="col-5 p-0 m-0">
            </div>

          </div>
        </div>
    </body>
</html>
